*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    font-weight: 600;
}

header {
    background-color: #FEF7E2;
    margin-top: 0;
    padding-inline: 1rem;
    padding-block: 0.5rem;

    
}


.navbar ul {
    list-style-type: none;
    margin-top: 20;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.navbar button {
    margin-right: 10px;
}

.navbar button {
    text-decoration: none;
    color: #742305;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color:#FFDF7F;
    
}

.navbar {
    font-size:x-large;
    height: 50px;
    
}





.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #742305;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    background-color: #FFF3D4;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    
    margin: 10px;
    
}

.product-image {
    width: 100%;
    border-bottom: 2px solid #ddd;
}

.product-info {
    padding: 20px;
    text-align: left;
}

.product-info h2 {
    font-size: 16px;
    color: #742305;
    margin: 0 0 5px 0;
}

.product-info p {
    font-size: 14px;
    color: #742305;
    margin: 5px 0;
}

.product-info .price {
    font-size: 16px;
    color:#742305;
    margin: 5px 0;
}

.add-to-cart {
    background-color:#FFDF7F;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    color: #742305;
}



.news-section {
    background-color: #FFF3D4;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-content {
    display: flex;
    
}

.news-image {
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}



.news-text h3 {
    color: #742305;
    margin-top: 0;
}

.news-text p {
    color:#742305;
}

/* Media query per schermi da 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
    .product-list {
        justify-content: space-between; 
    }

    .product-card {
        width: 45%; 
    }

    .news-content {
        flex-direction: column;
        text-align: center;
    }

    body{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1,h2{
        text-align: unset;
    }
    h3{
        text-align: left;
    }
    .news-text img{
        width: 400px;
        height: 250px;
        border-radius: unset;
    }
    .product-card .product-info p{
        text-align: center;

    }

}
